{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% bootstrap_messages %}
<!DOCTYPE html>
<html lang="pt-br">
   <head>
   <meta http-equiv="content-type" content="text/html; charset=utf-8" />
      <title>Bootstrap, from Twitter</title>
      <meta name="viewport" content="width=device-width, initial-scale=1">
   </head>

      <body>
      <!-- NAVBAR
         ================================================== -->
      <nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/parking/">Projeto Estacionamento</a>
    </div>
    <div>
      <ul class="nav navbar-nav">
        <li class="active"><a href="/parking/">Home</a></li>
        <li><a href="/parking/cadastracliente/">Clientes</a></li>
        <li><a href="/parking/cadastraveiculo">Veiculos</a></li>
        <li><a href="/parking/cadastravaga">Vagas</a></li>
      </ul>
    </div>
  </div>
</nav>
      <!--================================ fim da navbar=============================================-->

         
         <div class="container">
   <div class="row">
      <div class="col-md-7">
         <h1 align="center">Cadastrar Vaga</h1>
            <form  method="post">{% csrf_token %}
            {% bootstrap_form form  %}
               <input type="submit" class="btn btn-primary" value="Cadastrar Vaga" align="center">
            </form>

   </div><br><br><br><br>
      <div class="col-md-5">
         <h2 align="center" >Cadastra/Altera Vaga</h2><br>
            <h4 align="center">digite a vaga do veiculo para alteração</h4>
             
      </div>
   </div>
   <footer>
      
   </footer>
</div>


      </body>
   
</html>