{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% bootstrap_messages %}
<!DOCTYPE html>
<html>
<head>
   <title>Cadastro de Clientes</title>

</head>
<body>

<!-- NAVBAR
         ================================================== -->
       <!--<div class="navbar navbar-default navbar-fixed-top" role="navigation">-->
       <nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Projeto Estacionamento</a>
    </div>
    <div>
      <ul class="nav navbar-nav">
        <li class="active"><a href="/parking/">Home</a></li>
        <li><a href="/parking/cadastracliente/">Clientes</a></li>
        <li><a href="/parking/cadastraveiculo">Veiculos</a></li>
        <li><a href="/parking/cadastravaga">Vagas</a></li>
      </ul>
    </div>
  </div>
</nav>
         <!--================================================== -->
<div class="container">
   <div class="row">
      <div class="col-md-7">
         <h1 align="center">Cadastrar de Clientes</h1>
            <form  method="post">{% csrf_token %}
            {% bootstrap_form form  %}
               <input type="submit" class="btn btn-primary" value="Salvar" align="center">
            </form>

   </div><br><br><br><br>
      <div class="col-md-5">
         <h2 align="center" >Alterar Clientes</h2><br>
            <h4 align="center"><a href="/parking/listacliente">Clique para alteração/consulta </a></h4>
      </div>
   </div>
   <footer>
      
   </footer>
</div>
   </body>
</html>