{% load staticfiles %}
<!DOCTYPE html>
<html lang="pt-br">
	<head>
		<title>Bootstrap, from Twitter</title>
		<link href="{% static "Parking/bootstrap/css/bootstrap.css" %}" rel="stylesheet">
	</head>
	<body>
		<div class="container">
			<span class="label label-info">Usuário:Rodrigo Luciano da Costa - Unincor 7 Periodo</span>
			<h1>Django com Twitter Bootstrap</h1>
			<p>
			Rodrigo Luciano da Costa.<br> 
			Utilizando o Twitter Bootstrap em um projeto Django para avaliação.<br>
			Utilizando convenções do Django para arquivos estáticos e templates,
			sem precisar configurar nada no settings.<br><br>
			<a href="#" class="btn btn-primary"><i class="icon-tasks icon-white"></i>&nbsp;Detalhes...</a>
			</p>
				<div class="alert alert-info">
					<button type="button" class="close" data-dismiss="alert">&times;</button>
					<h4>Information!</h4>
					 - Django com Twitter Bootstrap.
				</div>
		</div> <!-- /container -->
		<!-- Le javascript ================================================== -->
		<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
		<script src="{% static "Parking/bootstrap/js/bootstrap.js" %}"></script>
	</body>
</html>
