{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% bootstrap_messages %}
<!DOCTYPE html>
<html lang="pt-br">
	<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<title>Bootstrap, from Twitter</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
	</head>
<body>
		
      <!-- NAVBAR
         ================================================== -->
      <nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Projeto Estacionamento</a>
    </div>
    <div>
      <ul class="nav navbar-nav">
        <li class="active"><a href="/parking/">Home</a></li>
        <li><a href="/parking/cadastracliente/">Clientes</a></li>
        <li><a href="/parking/cadastraveiculo">Veiculos</a></li>
        <li><a href="/parking/cadastravaga">Vagas</a></li>
      </ul>
    </div>
  </div>
</nav>
      
      <!-- CONTENT
         ================================================== -->
		<div class="container-fluid">



			<h1><span class="label label-info">Usuário:Rodrigo Luciano da Costa - Unincor 7 Periodo</span></h1>
			
			<h1><p class="text-center"</p>Estacionamento Last Stand</h1>
			<h3><em>Rodrigo Luciano da Costa.</em></h3>
			<h2>Django com Twitter Bootstrap</h2>
			<address>
				<strong>LastStand, Inc.</strong><br>
					795 Folsom Ave, Suite 600<br>
					San Francisco, CA 94107<br>
					<abbr title="Phone">P:</abbr> (123) 456-7890
			</address>
			<address>
  				<strong>Full Name</strong><br>
  					<a href="mailto:#">first.last@example.com</a>
			</address>
			<p>
			 
			<h4>Utilizando o Twitter Bootstrap em um projeto Django para avaliação software Estacionamento.<br>
			Utilizando convenções do Django para arquivos estáticos e templates,
			sem precisar configurar nada no settings.<br></h4>

			<a href="#" class="btn btn-primary"><i class="icon-tasks icon-white"></i>&nbsp;Detalhes...</a>
			</p>


				<div class="alert alert-info">
					<button type="button" class="close" data-dismiss="alert">&times;</button>
					<h4>Information!</h4>
					 - Django com Twitter Bootstrap.
				</div>
					
				</div>
		</div> <!-- /container -->		
</body>
</html>
