{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% bootstrap_messages %}
<!DOCTYPE html>
<html>
<head>
   <title>Listage / Alteracao de Clientes</title>

</head>
<body>
	
	<!-- NAVBAR
         ================================================== -->
       <!--<div class="navbar navbar-default navbar-fixed-top" role="navigation">-->
       <nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Projeto Estacionamento</a>
    </div>
    <div>
      <ul class="nav navbar-nav">
        <li class="active"><a href="/parking/">Home</a></li>
        <li><a href="/parking/cadastracliente/">Clientes</a></li>
        <li><a href="/parking/cadastraveiculo">Veiculos</a></li>
        <li><a href="/parking/cadastravaga">Vagas</a></li>
      </ul>
    </div>
   </div>
</nav>
         <!--===============listando os clientes=================================== -->
         <h1> Lista de Clientes</h1>
         {% for rlist in ListaCliente %}
         <!-- listando os nomes -->
         {{rlist.nome}} -{{rlist.telefone}} - {{rlist.email}}
         	<p><a href="{% url 'alteracliente' rlist.id %}">{{ rlist.nome }}</a></p>
         			
         {% endfor %}

</body>
</html>