{% load staticfiles %}
<!DOCTYPE html>
<html lang="pt-br">
   <head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<title>Bootstrap, from Twitter</title>
		<link href="{% static "Parking/bootstrap/css/bootstrap.css" %}" rel="stylesheet">
		<link href="{% static "Parking/bootstrap/css/principal.css" %}" rel="stylesheet">
      <meta name="viewport" content="width=device-width, initial-scale=1">
	</head>

      <body>
      <!-- NAVBAR
         ================================================== -->
      <div class="navbar-wrapper">
         <div class="navbar navbar-default" role="navigation">
            <div class="container">
            <div class="navbar-header">
               <div class="navbar-inner">
                  
                  <div class="nav-collapse collapse">
                     <ul class="nav">
                        <li><a href="/parking/" >home</a></li>
                        <!--<li><a href="/parking/servicos/"> <img >serviços</a></li>-->
                        <!--<li><a href="/localizacao/"><img >localizacao</a></li>-->
                        <!--<li><a href="/quemsomos/">  <img >quem somos</a></li>-->
                        <!--<li><a href="/faleconosco/"><img>fale conosco</a></li>-->
                     </ul>
                  </div>
                  <!--/.nav-collapse -->
               </div>
               <!-- /.navbar-inner -->
            </div>
            <!-- /.container -->
         </div>
         <!-- /.navbar -->
      </div>
      <!-- /.navbar-wrapper -->
      <!-- Carousel
         ================================================== -->
         <h1>Cadastro de Serviços</h1><br>
         <div class="container"  >
         
            <div id="veiculo" class='place'>
               <h2>veiculo</h2>
               <h4>tipo de veiculo &nbsp; placa &nbsp;fabricante &nbsp;Marca &nbsp;cor &nbsp;</h4><br><br><br>
            </div>
            <div class='place'>
               <h2>condutor</h2>
                <h4>nome &nbsp; email &nbsp; cpf &nbsp; rg &nbsp; telefone &nbsp;</h4><br><br><br>
            </div>
            <div class='place'>
               <h2>vaga</h2>
               akdvnvjoadnjoad<br><br><br>
            </div>


            
         </div>
     
     
      <!--inserindo javascript-->
      <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
      <script src="{% static "Parking/bootstrap/js/bootstrap.js" %}"></script>
      </body>
   
</html>