body{
	font-family: "Lucida Grande","Lucida Sans Unicode",Verdana, sans-serif;
	line-height: 1.6;
}

.container{
	margin: 0 auto;
	width: 960px;
}

.place#veiculo{
	border-color: #CCC #999 #999 #CCC;
	border:1px solid #CCC;
	margin-bottom: 20px;
	padding: 10px;
}

.place h2{
	border-bottom: 1px dashed #7E9F19;
	margin: 0;
}